/*
Comentarios con css

elemento{
    propiedad: valor;
}



*/

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: bisque; /*Color de fondo*/
}

section p {
    color: chocolate;
}

#letra {
    color: brown;
    background-color: bisque;
}

#letra1 {
    color: brown;
    background-color: bisque;
}

.paragraph_one{ /*el punto indica una clase*/
    color: black;
    font-size: 14px;
    font-style: italic;
}

/* unidades de medidas absolutas, no cambia independientemente de la pantalla*/

/* unidades de medidas relativas */

img {
    width: 100%;

}

a {
    font-size: 2rem; /*el rem es relativo al tamaño del elemento root, son 16px que vienen por default en html*/
}